.serve{
    width: 7.5rem;
}
.serveHeader{
    width: 7.5rem;
    padding-top: 0.2rem;
    display: flex;
    background-color: white;
    /* background-color: cadetblue; */
}
.serveSearchBox{
    flex:1;
    height: 0.7rem;
    background-color: #f5f6fa;
    border-radius: 0.35rem;
    text-align: center;
    margin: 0 0.4rem;
}
.serveSearchBox .searchImgBox{
    width: 0.3rem;
    height: 0.4rem;
    background-color: #f5f6fa;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.15rem;
}
.searchInputBox{
    margin-top: 0.1rem;
    display: inline-block;
    vertical-align: top;
}
.searchInputBox input{
    height: 0.5rem;
    width: 1rem;
    font-size: 0.3rem;
    background-color: #f5f6fa;
}
.serveSearchBox .searchImgBox img{
    width: 100%;
}
.serveTopRight{
    height: 1rem;
    width: 1rem;
    /* background-color: rosybrown; */
}
.serveTopRight img{
    width: 70%;
}

.serveWrapper{
    width: 100vw;
    display: flex;
}
.serveLeft{
    width: 1.8rem;
    background-color: #f1f2f6;
}
.serveLeft ul{
    width: 1.8rem;
    height: calc(100vh - 2.2rem);
    overflow-y: scroll;
    overflow-x: hidden;
}
.serveLeft ul::-webkit-scrollbar{
    display: none;
}
.serveLeft ul li{
    display: block;
    font-size: 0.34rem;
    color: black;
    width: 1.8rem;
    height: 1.1rem;
    line-height: 1.1rem;
    padding-left: .2rem;
    
}
/* .serveLeft ul li:hover{
    
} */
.serveRight{
    flex: 1;
    height: calc(100vh - 2.2rem);
    background-color: white;
    overflow: hidden;
}
/* .serveRight .pagesContent{
    height: calc(100vh - 2.2rem);
} */
.serveRight .pagesContent li{
    height: calc(100vh - 2.2rem);
    overflow-y: scroll;
    overflow-x: hidden;
}
.serveRight .pagesContent li .serveContent{
    margin: 0 auto;
    width: 5.3rem;
    margin-bottom: 0.5rem;
}
.serveRight .pagesContent li .serveContent .topImg{
    width: 100%;
    height: 1.8rem;
    
}
.serveRight .pagesContent li .serveContent .topImg img{
    width: 100%;
    height: 100%;
}
.serveRight .pagesContent li .serveContent .itemTitle{
    display: block;
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    color: black;
    font-weight: 700;
}
.serveRight .pagesContent li .serveContent .serveItem{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.serveRight .pagesContent li .serveContent .serveItem .sItemWrapper{
    width: 32%;
    height: 2rem;
    margin-left: 0.053rem;
    margin-top: 0.053rem;
}
.serveRight .pagesContent li .serveContent .serveItem .sItemWrapper .sItemImg{
    margin: 0 auto;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.serveRight .pagesContent li .serveContent .serveItem .sItemWrapper .sItemImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.serveRight .pagesContent li .serveContent .serveItem .sItemWrapper span{
    display: block;
    text-align: center;
    font-size: 0.25rem;
    height: 0.7rem;
    line-height: 0.7rem;
    color: black;
}

.actives{
    color: red !important;
    background-color: white;
    position: relative;
}
.actives::before{
    content: '';
    height: 0.34rem;
    width: 0.1rem;
    background-color: red;
    display: inline-block;
    border-radius: .05rem;
    position: absolute;
    left: -.05rem;
    margin-top: .38rem;
}


